[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = ">=4.12.2"
cfscrape = ">=2.1.1"
configobj = ">=5.0.8"
dnspython = ">=2.4.2"
email-validator = ">=2.1.0.post1"
ipwhois = ">=1.2.0"
lxml = ">=4.9.3"
python-Wappalyzer = ">=0.3.1"
python-whois = ">=0.8.0"
requests = ">=2.31.0"
termcolor = ">=2.3.0"
tldextract = ">=3.4.0"
tweepy = ">=4.14.0"
validators = ">=0.22.0"

[dev-packages]

[requires]
python_version = "3.12"
